#!/usr/bin/env nextflow

params.genomes = "./phages/*/*.fasta"
params.features = "./phages/*/*.gff"
params.reps = "./protein_clusters_v2.1/seq_clusters_rep_seq.fasta"
params.outDir = "results"

docker {
    enabled = true
}

process {
    // local for now, push to dockerhub for remote

    withName: mmseqscluster {
        container = "soedinglab/mmseqs2"
    }
    withName: createDB {
        container = "soedinglab/mmseqs2"
    }

    container = "phage_image"
}