#!/usr/bin/env nextflow

params.genomes = "./phage_data/*/*.fasta"
params.features = "./phage_data/*/*.gff"
params.proteins = "./phage_data/*/*.faa"
params.outDir = "results"
params.wsl = false

params.colabdb = "."    // path/to/db
params.foldseekdb = "." // "path/to/db/name_of_db" 
params.validdb = "."    // "path/to/db/name_of_db" 


docker {
    enabled = true
    containerOptions = "--rm"
}

process {
    withName: mmseqscluster {
        container = "colabfold"
    }
    withName: mmseqsclusterRefine {
        container = "colabfold"
    }
    withName: colabfold_batch {
        container = "colabfold"
    }
    withName: colabfold_batch_wsl {
        container = "colabfold"
    }

    // use this container for the rest
    container = "phagomics"
}