#!/usr/bin/env nextflow

params.genomes = "./phages/*/*.fasta"
params.features = "./phages/*/*.gff"
params.reps = null
params.outDir = "results"
params.wsl = false
params.db = "./BFVD" // "/db/AFSP" for current foldseek setup

docker {
    enabled = true
}

process {
    // local for now, push to dockerhub for remote

    withName: mmseqscluster {
        container = "soedinglab/mmseqs2"
    }
    withName: mmseqscluster_refine {
        container = "soedinglab/mmseqs2"
    }
    withName: createDB {
        container = "soedinglab/mmseqs2"
    }
    withName: colabfold_search {
        container = "colabfold"
    }
    withName: colabfold_batch {
        container = "colabfold"
    }
    withName: colabfold_batch_wsl {
        container = "colabfold"
    }
    withName: foldseek {
        container = "foldseek"
    }

    // use this container for the rest
    container = "phagomics"
}